@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-lg-3">
        <div class="mini-card-report">
            <div class="right">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="left">
                <span>تکمیل انبار</span>
                <span>400</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mini-card-report">
            <div class="right">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="left">
                <span>تکمیل انبار</span>
                <span>400</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mini-card-report">
            <div class="right">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="left">
                <span>تکمیل انبار</span>
                <span>400</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="mini-card-report">
            <div class="right">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <div class="left">
                <span>تکمیل انبار</span>
                <span>400</span>
            </div>
        </div>
    </div>
</div>
<div class="revenue-box">
    <div class="head">
        <div class="right">
            درآمد
        </div>
        <div class="left">
            <i class="fas fa-cog"></i>
            <i class="fas fa-redo"></i>
        </div>
    </div>
    <div class="content">
        <canvas id="myChart" width="300" height="150"></canvas>
    </div>
</div>