@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/flexboxgrid.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <title>SevSport</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-right">
                <a href=""><i class="far fa-user"></i></a>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
                <a href=""><i class="fas fa-home"></i></a>
                <a href=""><i class="fas fa-search"></i></a>
            </div>
            <div class="nav-left">
                <div class="register-login-btn">
                    <i class="fas fa-user"></i>
                    <a href="#">ثبت نام / ورود</a>
                </div>
            </div>
        </nav>
        <section class="slider">
            <div class="slides">
                <div class="item  active" id="slide1">
                    <img src="~/images/slide01.jpg.jpg" style="object-fit: cover;" alt="" />
                    <span style="color: white;">
                        نمی تونی برای باشگاه استایلتو بسازی؟<br />
                        از خونه تا باشگاه با ما
                    </span>
                </div>
                <div class="item " id="slide2">
                    <img src="~/images/slide02.jpg.jpg" style="object-fit: cover;" alt="" />
                    <span style="color: white;">
                        نمی تونی برای باشگاه استایلتو بسازی؟<br />
                        خرید محصولات اورجینال از ما
                    </span>
                </div>
                <div class="item " id="slide3">
                    <img src="~/images/slide03.jpg.JPG" style="object-fit: cover;" alt="" />
                    <span style="color: white;">
                        نمی تونی برای باشگاه استایلتو بسازی؟<br />
                        کیفیت و راحتی با محصولات اورجینال در انتظار توست
                    </span>
                </div>
            </div>
            <div class="buttons">
                <i onclick="setSlide('slide1' , 1)" class="fas fa-circle"></i>
                <i onclick="setSlide('slide2' , 2)" class="fas fa-circle"></i>
                <i onclick="setSlide('slide3' , 3)" class="fas fa-circle"></i>
            </div>
        </section>
    </header>
    <main>
        <section class="product-sec-new">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ فلامنت
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            تی شرت زنانه مدل آرسا
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            ست کامل فلامنت
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">1500 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            تاپ شلوارک اورجینال از برند نایک
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">900 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="supper-offer-section">
            <div class="row">
                <div class="col-lg-9">
                    <div class="supper-offer-box">
                        <span class="supper-offer-box-title">
                            پیشنهاد شگفت انگیز
                        </span>
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="image-container">
                                        <img src="~/images/2.jpg" style="object-fit: cover;" alt="" />
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="spesification">
                                        <div class="price-row">
                                            <div class="price">1 میلیون تومان</div>
                                            <div class="off">60 % تخفیف</div>
                                        </div>
                                        <div class="title"> ست کامل ورزشی زنانه</div>
                                        <div class="counter-down">
                                            <span id="seconds">40</span> :
                                            <span id="minutes">26</span> :
                                            <span id="hours">19</span>
                                        </div>
                                        <div class="remaining-time">
                                            زمان باقی مانده تا پایان سفارش
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="banner">
                        <img src="~/images/friday.jpg" style="object-fit: cover;" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="dragble-list">
            <div class="title">
                <span>لگ ها</span>
            </div>
            <div id="owl-product" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ فلامنت
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ سیملکس
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ آبرنگی جدید
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ سوپر پروسیملکس با قابلیت کشسانی بالا
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ سیملکس اورجینال از برند نایک
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ سوپر کش اورجینال
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ زنانه غیر اورجینال معمولی
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ کمرکش گنی سایز یزرگ
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="shoping-card">
                        <div class="img-sec">
                            <img src="~/images/1.jpg" style="object-fit: cover;" alt="" />
                            <span class="hot-offer">پیشنهاد ویژه</span>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="title">
                            لگ مشکی نایک
                        </div>
                        <div class="buttons">
                            <div class="right">
                                <span class="price">800 هزار تومان</span>
                            </div>
                            <div class="left">
                                <div class="extend-btn">
                                    <a class="b-text" href="">علافه</a>
                                    <a class="b-icon" href=""><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="extend-btn">
                                    <a class="b-text" href="">سبد خرید</a>
                                    <a class="b-icon" href="">
                                        <i class="fas fa-shopping-cart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="row">
            <div class="col-lg-8">
                <div class="right">
                    <div class="title">
                        درباره ما
                    </div>
                    <div class="des">
                        ست‌های ورزشی از پرطرفدارترین انواع لباس ورزشی زنانه به شمار می‌روند. بانوان ورزشکار معمولا از ترکیب لگ ورزشی و تاپ، لگ ورزشی و نیم تنه و همچنین شلوارک و تاپ برای ست کردن پوشاک ورزشی خود استفاده می‌کنند. ست ورزشی زنانه تاپ و لگ نایک مدل Rad بنفش، یکی از خاص‌ترین لباس‌های ورزشی زنانه است که از جذابیت بالایی برخوردار است. جنس این ست اسپرت زنانه فلامنت بوده و از راحتی و خنکی بالایی برخوردار است.

                        یکی دیگر از مهمترین ویژگی‌هایی که باید هنگام خرید لباس ورزشی زنانه به آن توجه داشته باشید، دوخت با کیفیت و حرفه‌ای آن استو ست ورزشی زنانه مدل RAD از کیفیت دوخت بالایی برخوردار بوده و به شما این اطمینان را می‌دهد که در حین اجرای حرکات ورزشی، آزادی عمل کافی برای شما وجود داشته باشد و  دچار پارگی نشود. ست تاپ و لگ RAD از رنگ جذابی برخوردار است و شما می‌توانید آن را با انواع مدل‌های کتونی ست کنید.
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="left">
                    <div class="title">
                        ما را در شبکه های اجتماعی دنبال کنید
                    </div>
                    <div class="socials">
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            کلیه حقوق این سایت محفوظ می باشد.
        </div>
    </footer>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
</body>
</html>
